/* 动画时长调整至 0.25s */
.animated {
  animation-duration: 0.25s !important;
}

/* 菜单字体调大 */
.menu-item {
  a {
    font-size: $font-size-small;
  }
}

/* 联系方式字体调大 */
.links-of-author {
  a {
    font-size: $font-size-small;
  }
}

/* 站点状态字体调大 */
.site-state-item-name {
  font-size: $font-size-small;
}

/* 赞赏按钮上下边距调小 */
.reward-container {
  padding: 0 !important;
}

/* 卡片边距调小 */
.link-grid {
  padding: 0 !important;
}

/* 卡片阴影清除 */
.link-grid-container {
  box-shadow: none !important;
}

/* 面包屑颜色统一 */
ul.breadcrumb {
  color: #999 !important;
}
