/* 动画速度调整至 0.3s */
.animated {
  animation-duration: 0.3s !important;
}

/* 菜单字体调大 */
.menu-item {
  a {
    font-size: $font-size-small;
  }
}

/* 联系方式字体调大 */
.links-of-author {
  a {
    font-size: $font-size-small;
  }
}

/* 站点状态字体调大 */
.site-state-item-name {
  font-size: $font-size-small;
}

/* 卡片边距调小 */
.link-grid {
  padding: 0 !important;
}

/* 卡片阴影调小 */
.link-grid-container {
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.5) !important;
}
