/* 动画速度调整至 0.3s */
.animated {
  animation-duration: 0.3s !important;
}

/* 菜单字体调大 */
.menu-item {
  a {
    font-size: $font-size-small;
  }
}

/* 联系方式字体调大 */
.links-of-author {
  a {
    font-size: $font-size-small;
  }
}

/* 站点状态字体调大 */
.site-state-item-name {
  font-size: $font-size-small;
}
